In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\LucaG\Google Drive\Studium\Inhalt\Wirtschaftsinformatik\Thesis\Daten\kpi_ticket_data_2019_2022.csv', sep=';')

In [3]:
print(data)

         ticket_id    kpi_id        kpi_timestamp_old  \
0          1813813  15829684  2019-01-01 00:01:03.000
1          1813813  16030777  2019-01-01 00:01:03.000
2          1813813  16030778  2019-01-01 00:01:03.000
3          1813813  16030779  2019-01-01 00:01:03.000
4          1813813  16030780  2019-01-01 00:01:03.000
...            ...       ...                      ...
4940393    3017561  28797928                      NaN
4940394    3017561  28797929                      NaN
4940395    3017561  28797930                      NaN
4940396    3017561  28797931                      NaN
4940397    3017561  28797948                      NaN

                   kpi_timestamp   kpi_field_name  \
0        2019-01-01 00:01:03.000              NaN
1        2019-01-01 00:01:03.000           status
2        2019-01-01 00:01:03.000  resolution_code
3        2019-01-01 00:01:03.000            group
4        2019-01-01 00:01:03.000         category
...                          ...              ...
4940393  2022-06-01 12:00:55.000         category
4940394  2022-06-01 12:00:55.000         priority
4940395  2022-06-01 12:00:55.000          urgency
4940396  2022-06-01 12:00:55.000           impact
4940397  2022-06-01 12:02:30.000            group

                 kpi_field_value_old  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
4940393                          NaN
4940394                          NaN
4940395                          NaN
4940396                          NaN
4940397  SBA (SAP Basis / Operation)

                                           kpi_field_value kpi_operation
0                                                      NaN        create
1                                           In Bearbeitung        update
2                                       vollständig gelöst        update
3                                            Infra Network        update
4             Incident (Störung).Unspezifizierter Incident        update
...                                                    ...           ...
4940393  Incident (Störung).Software.Unspezifizierte So...        update
4940394                                         3 - mittel        update
4940395                                         2 - mittel        update
4940396                                         2 - mittel        update
4940397                                 WSW-IT-Architektur        update

[4940398 rows x 8 columns]

In [34]:
filt = (data["kpi_field_name"] == "group" )
data[filt]

,ticket_id,kpi_id,kpi_timestamp_old,kpi_timestamp,kpi_field_name,kpi_field_value_old,kpi_field_value,kpi_operation
3,1813813,16030779,2019-01-01 00:01:03.000,2019-01-01 00:01:03.000,group,NaN,Infra Network,update
13,1813814,16030786,2019-01-01 00:01:03.000,2019-01-01 00:01:03.000,group,NaN,Infra Network,update
23,1813815,16030793,2019-01-01 01:14:52.000,2019-01-01 01:14:52.000,group,NaN,Server Windows,update
35,1813816,17007710,2019-01-01 02:12:39.000,2019-01-01 02:12:39.000,group,NaN,Server AIX,update
40,1813816,17659096,2019-01-01 02:12:39.000,2019-01-01 02:12:39.000,group,NaN,Server AIX,update
...,...,...,...,...,...,...,...,...
4940377,3017559,28797876,2022-06-01 11:57:46.000,2022-06-01 11:57:46.000,group,NaN,SFI (SAP Finanzbuchhaltung),update
4940384,3017560,28797920,NaN,2022-06-01 12:00:55.000,group,NaN,SBA (SAP Basis / Operation),update
4940389,3017560,28797947,NaN,2022-06-01 12:02:20.000,group,SBA (SAP Basis / Operation),WSW-IT-Architektur,update
4940392,3017561,28797927,NaN,2022-06-01 12:00:55.000,group,NaN,SBA (SAP Basis / Operation),update
4940397,3017561,28797948,NaN,2022-06-01 12:02:30.000,group,SBA (SAP Basis / Operation),WSW-IT-Architektur,update

In [32]:
filt

0          False
1          False
2          False
3           True
4          False
           ...
4940393    False
4940394    False
4940395    False
4940396    False
4940397     True
Name: kpi_field_name, Length: 4940398, dtype: bool

In [28]:
data[filt].groupby(['kpi_field_value']).size().reset_index(name='counts').sort_values(by=["counts"])

                                     kpi_field_value  counts
446                                         verinice       1
292                                 S-M SRV-JIRA_ONT       1
293                       S-M SRV-ONTRAS.KONTAKT_ONT       1
294                                 S-M SRV-OTRS_ICS       1
37                                           BI_PASM       1
..                                               ...     ...
332                       SAV (Produktionssteuerung)   15964
87   CLS-REM (Client-Service/Support Remoteaufgaben)   17831
335                                  SBA (SAP Basis)   41975
346                                           SD SAP   57480
343                                SD (Service Desk)  193324

[447 rows x 2 columns]

In [26]:
data[filt].groupby(['kpi_field_value']).size()

kpi_field_value
AFT-KatMGNT (AFT-Katalog-Management)           7187
AFT-KatMGNT (AFT-Katalog-Management),  GISA       6
APP (AWB GISAprogrammierter Apps)                 8
ATOMIC-Second-Level                              14
AUTOMIC-Second-Level                            525
                                               ...
inu_erechnung                                    54
projekt0708                                       3
prosec ISMS                                       7
swt                                               2
verinice                                          1
Length: 447, dtype: int64

In [30]:
data.to_csv(r'C:\Users\LucaG\Google Drive\Studium\Inhalt\Wirtschaftsinformatik\Thesis\Daten\test4.csv', index=False )